# Backend
FLEET_DB_PATH=/app/fleet_db
SSH_KEYS_DIR=/app/ssh_keys
PLUGINS_DIR=/app/plugins
PROMETHEUS_URL=http://prometheus:9090
JWT_SECRET=your-secret-here
JWT_EXPIRES_IN=24h
ADMIN_PASSWORD_HASH=$2b$10$...   # bcrypt hash пароля
BACKEND_PORT=3001

# Frontend
NEXT_PUBLIC_API_URL=/api
NEXT_PUBLIC_WS_URL=/
